In [2]:
import pandas as pd
import numpy as np

np.random.seed(20)
df = pd.DataFrame(np.random.randn(10,4), index=pd.date_range('2021-07-18', periods=10), columns=['a', 'b', 'c', 'd'])
df

                   a         b         c         d
2021-07-18  0.883893  0.195865  0.357537 -2.343262
2021-07-19 -1.084833  0.559696  0.939469 -0.978481
2021-07-20  0.503097  0.406414  0.323461 -0.493411
2021-07-21 -0.792017 -0.842368 -1.279503  0.245715
2021-07-22 -0.044195  1.567633  1.051109  0.406368
2021-07-23 -0.168646 -3.189703  1.120132  1.332778
2021-07-24 -0.243339 -0.130031 -0.109017  1.556186
2021-07-25  0.128778 -2.066949 -0.885493 -1.104579
2021-07-26  0.932866  2.059838 -0.934938 -1.612990
2021-07-27  0.527070 -1.551101  0.329613 -1.136527

In [4]:
df["new"] = df["c"] + df['d']
df

                   a         b         c         d       new
2021-07-18  0.883893  0.195865  0.357537 -2.343262 -1.985725
2021-07-19 -1.084833  0.559696  0.939469 -0.978481 -0.039012
2021-07-20  0.503097  0.406414  0.323461 -0.493411 -0.169950
2021-07-21 -0.792017 -0.842368 -1.279503  0.245715 -1.033787
2021-07-22 -0.044195  1.567633  1.051109  0.406368  1.457477
2021-07-23 -0.168646 -3.189703  1.120132  1.332778  2.452910
2021-07-24 -0.243339 -0.130031 -0.109017  1.556186  1.447169
2021-07-25  0.128778 -2.066949 -0.885493 -1.104579 -1.990073
2021-07-26  0.932866  2.059838 -0.934938 -1.612990 -2.547928
2021-07-27  0.527070 -1.551101  0.329613 -1.136527 -0.806913